<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css">
<div class="w-full min-h-screen">
    <div class="flex absolute bottom-0 left-0 bg-white mb-6 ml-6 mr-6 max-w-lg rounded-lg shadow-2xl p-4">
      <div class="flex-none w-32 sm:w-48 relative overflow-hidden rounded-md">
        <img src="/pages/lecture/images/1.png" alt="image" class="absolute inset-0 w-full h-full object-cover">
      </div>
      <div class="w-full md:w-3/5 relative flex flex-col ml-4">
        <a href="#" class="absolute top-0 right-0 text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
  </svg>
  </a>
        <p class="text-sm font-bold mb-2 mr-4">Hard Copy Lecture Note is Available Now!</p>
        <p class="text-xs">Go ahead and buy your copy of nicely-binded lecture note in affordable price!</p>
        <div class="flex sm:justify-end items-stretch h-full">
          <a href="https://shopee.com.my/product/558403004/13332594245/" class="self-end w-full text-center sm:w-auto sm:text-left mt-4 text-xs text-white rounded-md bg-purple-600 p-2 px-4 hover:bg-purple-500">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>